@model nmct.ba.cashlessproject.model.Model.Costumer.Vereniging

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vereniging</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrganisationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganisationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

    </dl>
</div>
<p>
    <a href="/Vereniging/EditVereniging?OrgId=@Model.Id">Bewerken</a> |
    @Html.ActionLink("Terug naar overzicht", "Overzicht")
</p>
